
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LGPD</title>
    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon"
        href=https://raw.githubusercontent.com/MicaelliMedeiros/micaellimedeiros/master/image/computer-illustration.png />
    <!-- Scripts (jQuery não pode ser o slim que vem do Boostrap) -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
    <!-- Progress Bar -->
    <script src="progressbar.min.js"></script>
    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
</head>
<body>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Alerta, sistema em teste!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span style="color: black;" aria-hidden="true">&times;</span>
        </button>
    </div>

<div class="container">
        <!-- Botão -->
        <div class="row" style="width:100%">
            <div class="col-md-10" id="filter-btn-box">
                <button onclick="exibirDiv()" class="main-btn filter-btn active" id="LGPD-btn">LGPD</button>
                <button onclick="exibirDiv()" class="main-btn filter-btn" id="PROTECAO-btn">Proteção de dado</button>
            </div>
        </div>
            <!-- Inicio -->
            <section class="project-box LGPD">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            LGPD
                        </h3>
                        <p><strong>Art. 1º</strong> Esta Lei dispõe sobre o tratamento de dados pessoais, inclusive nos
                            meios digitais, por pessoa natural ou por pessoa jurídica de direito público ou privado, com
                            o
                            objetivo de proteger os direitos fundamentais de liberdade e de privacidade e o livre
                            desenvolvimento da personalidade da pessoa natural.
                            Parágrafo único. As normas gerais contidas nesta Lei são de interesse nacional e devem ser
                            observadas pela União, Estados, Distrito Federal e Municípios. (Incluído pela Lei nº 13.853,
                            de
                            2019) Vigência
                            <br><br>
                            <strong>Art. 2º</strong> A disciplina da proteção de dados pessoais tem como fundamentos:
                            I - o respeito à privacidade;
                            II - a autodeterminação informativa;
                            III - a liberdade de expressão, de informação, de comunicação e de opinião;
                            IV - a inviolabilidade da intimidade, da honra e da imagem;
                            V - o desenvolvimento econômico e tecnológico e a inovação;
                            VI - a livre iniciativa, a livre concorrência e a defesa do consumidor; e
                            VII - os direitos humanos, o livre desenvolvimento da personalidade, a dignidade e o
                            exercício
                            da cidadania pelas pessoas naturais.
                            <br><br>
                            <strong>Art. 3º</strong> Esta Lei aplica-se a qualquer operação de tratamento realizada por
                            pessoa natural ou por pessoa jurídica de direito público ou privado, independentemente do
                            meio,
                            do país de sua sede ou do país onde estejam localizados os dados, desde que:

                            I - a operação de tratamento seja realizada no território nacional;
                            II - a atividade de tratamento tenha por objetivo a oferta ou o fornecimento de bens ou
                            serviços
                            ou o tratamento de dados de indivíduos localizados no território nacional;
                            II - a atividade de tratamento tenha por objetivo a oferta ou o fornecimento de bens ou
                            serviços
                            ou o tratamento de dados de indivíduos localizados no território nacional; ou (Redação dada
                            pela
                            Medida Provisória nº 869, de 2018)
                            II - a atividade de tratamento tenha por objetivo a oferta ou o fornecimento de bens ou
                            serviços
                            ou o tratamento de dados de indivíduos localizados no território nacional; ou (Redação dada
                            pela
                            Lei nº 13.853, de 2019) Vigência
                            III - os dados pessoais objeto do tratamento tenham sido coletados no território nacional.
                            § 1º Consideram-se coletados no território nacional os dados pessoais cujo titular nele se
                            encontre no momento da coleta.
                            § 2º Excetua-se do disposto no inciso I deste artigo o tratamento de dados previsto no
                            inciso IV
                            do caput do art. 4º desta Lei.
                        </p>
                    </div>
                </div>
            </section>
            <!-- Sections -->
        <div  id="ocultar">
            <!-- Proteção -->
            <section class="project-box PROTECAO">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Proteção de dados
                    </h3>
                    <p><strong>Como é usado: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis
                        tenetur dolorum dicta impedit atque. Sint magnam animi quisquam corrupti veritatis labore.
                        Sequi, sint praesentium. Totam dolor nostrum sint reprehenderit voluptatibus?<br> Lorem ipsum
                        dolor, sit amet consectetur adipisicing elit. Deserunt inventore animi corporis sapiente
                        recusandae maxime aut dicta voluptas placeat commodi aliquam eaque architecto, est libero
                        obcaecati voluptatem quia vero illo.
                        <br><br>
                        <strong>Para que é usado: </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Aliquam nobis aperiam corrupti modi, sapiente voluptatibus, quo labore doloremque expedita est
                        consequuntur pariatur aspernatur quasi dicta commodi vel ducimus reprehenderit eligendi. Lorem
                        ipsum, dolor sit amet consectetur adipisicing elit. Architecto totam voluptate nemo optio
                        consequatur, error rem corrupti omnis alias neque laborum sapiente at vel praesentium veritatis
                        autem aspernatur earum in?
                        <br><br>

                    </p>
                </div>
            </div>
        </section>
        </div>
                <footer>
                    <div class="container">
                        <div class="row">
                            <?php
                                date_default_timezone_set('America/Sao_Paulo');
                                $ano = date('Y', time());
                                ?>
                            <div class="col-md-12">
                                <p>© Desenvolvido por Taylor Vargas -
                                    <?php echo $ano ?>
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
    </div>

    <style>
        /* ocultar */
        #ocultar {
         display: none;
        }
        /* Geral */

        .container {
            padding: 0 0;
        }

        .row {
            margin: 0;
        }

        #voltar {
            float: right;
            clear: both;
        }


        h3 {
            display: block;
            font-size: 2em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding: 10px 0;
        }

        .img-fluid{
            max-width: 200px;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .about-title{
            display: flex ;
            border-radius: 10px;
            text-decoration: none;
            justify-content: center;
            padding: 20px;
            background-color: #f4f5ea;
        }
        .about-title:hover{
           border: solid 0.5px;
        }

        /* Agenda */
        form {
            display: block;
            margin-top: 0em;
        }

        /* Botão */
        #filter-btn-box {
            margin: 10px;
            text-align: center;
            position: relative;
        }

        .main-btn {
            border-radius: 6px;
            border: 2px solid #ffffff;
            background-color: #887f8a;
            color: white;
            padding: 10px 20px;
            letter-spacing: 0.5px;
            margin: 0 6px;
            transition: 500ms;

        }

        .main-btn:hover {
            opacity: 80%;
            scale: 1.05;
            transition: 500ms;
        }

        button:focus {
          outline: none;
        }

        .btn-filter {
            border: 1px solid transparent;
        }

        .filter-btn.active{
            background-color: #864294; 

        }


        
    </style>


    <script>
        //Ocultar
        function exibirDiv() {
        document.getElementById("ocultar").style.display = "block";
        }
        // Filtro portfólio

        $(".filter-btn").on("click", function () {
            let type = $(this).attr("id")
            let boxes = $(".project-box")

            $(".main-btn").removeClass("active")
            $(this).addClass("active")

            if (type == "LGPD-btn") {
                eachBoxes("LGPD", boxes)
            } else if (type == "AGENDA-btn") {
                eachBoxes("AGENDA", boxes)
            } else if (type == "COMITE-btn") {
                eachBoxes("COMITE", boxes)
            } else if (type == "DIREITO-btn") {
                eachBoxes("DIREITO", boxes)
            } else if (type == "DOWNLOAD-btn") {
                eachBoxes("DOWNLOAD", boxes)
            } else if (type == "PROTECAO-btn") {
                eachBoxes("PROTECAO", boxes)
            }

        })

        function eachBoxes(type, boxes) {
            if (type == "") {
                $(boxes).fadeIn(100)
            } else {
                $(boxes).each(function () {
                    if (!$(this).hasClass(type)) {
                        $(this).fadeOut(200)
                    } else {
                        $(this).fadeIn(100)
                    }
                })
            }
        }

    </script>
</body>
</html>
