<?php
session_start();
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spacetime</title>
    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon"
        href=https://raw.githubusercontent.com/MicaelliMedeiros/micaellimedeiros/master/image/computer-illustration.png />
    <!-- Scripts (jQuery não pode ser o slim que vem do Boostrap) -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
    <!-- Progress Bar -->
    <script src="progressbar.min.js"></script>
    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
</head>
<body>
<div class="container" id="nav-container">
    <!-- add essa class -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <a class="navbar-brand" href="../home/bootstrap.html">
            <img id="logo"
                src="https://raw.githubusercontent.com/MicaelliMedeiros/micaellimedeiros/master/image/computer-illustration.png"
                alt="Spacetime">Spacetime</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
            aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">

        </div>
        <div class="social">

            <a href="https://www.instagram.com/taylorvteixeira/"><ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="https://twitter.com/rewmond_"><ion-icon name="logo-twitter"></ion-icon></a>
        </div>
    </nav>

</div>
</header>

    <main id="container">
        <form id="login_form" action="./Controller/login.php" method="POST">
            <!-- FORM HEADER -->
            <div id="form_header">
               <h1>Acesse aqui :</h1>
                
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Servidor indisponivel!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span style="color: black;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- SOCIAL MEDIA LINKS -->
            <!-- <div id="social_media">
  
                <a href="#">
                    <img src="../assets/facebook.png" alt="">
                </a>

                <a href="#">
                    <img src="../assets/google.png" alt="Google logo">
                </a>

                <a href="#">
                    <img src="../assets/github.png" alt="">
                </a>
            </div> -->
            <?php
                    if(isset($_SESSION['nao_autenticado'])):
                    ?>
                    <div class="notification is-danger">
                      <p>Usuário ou senha inválidos.</p>
                    </div>
                    <?php
                    endif;
                    unset($_SESSION['nao_autenticado']);
             ?>
            <!-- INPUTS -->
            <div id="inputs">
                <!-- EMAIL -->
                <div class="input-box">
                    <label for="email">
                        E-mail
                        <div class="input-field">
                    
                            <input type="email" id="email" name="usuario">
                        </div>
                    </label>
                </div>
                
                <!-- PASSWORD -->
                <div class="input-box">
                    <label for="password">
                        Password
                        <div class="input-field">
                        
                            <input type="password" id="senha" name="senha">
                        
                        </div>
                    </label>
                    
                    
                </div>
            </div>

            <!-- LOGIN BUTTON -->
            <button type="submit" id="login_button">
                Login
            </button>

            <div id="forgot_password">

                        <a href="./cadastro.php">

                          Criar conta
                        </a>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <?php
                                            date_default_timezone_set('America/Sao_Paulo');
                                            $ano = date('Y', time());
                                            ?>
                        <div class="col-md-12">
                            <p>© Desenvolvido por Taylor Vargas -
                                <?php echo $ano ?>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </form>
    </main>
</body>
</html>